body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.sidebar-nav {
	margin-top: 20px;
	padding: 0;
	list-style: none;
	background-color: #565656;
	padding: 10px;
	border-radius: 3px;
}
